{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-7 text-center">
            <form method="POST" action="">
                {% csrf_token %}
                <h2 class="text-success mb-4">Reset Password</h2>

                <div class="form-group mb-2">
                    <label for="email"class="mb-2">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter Email Which Give for The Registration!!!">
                </div>
                <div>
                    <input type="submit" value="Submit" class="btn btn-success">
                </div>
            </form>

            <div>
                {% include "includes/messages.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
