{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="contaniner mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7 text-center">

            <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <h2 class="mb-5 text-success">User Login</h2>

                {{form.username|as_crispy_field}}
                {{form.password|as_crispy_field}}
                <div>
                <input type="submit" value="Login" class="btn btn-success">
                </div>
            </form>
             {% include "includes/messages.html" %}
        </div>
    </div>
</div>

{% endblock content %}