{% extends "base.html" %}

{% block content %}
<form method="POST" action="" class="container mt-5">
  {% csrf_token %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center">
        <h2 class="m-4">Reset Password</h2>

        <div class="form-group mb-3">
          <input type="text" name="password" id="password" class="form-control" placeholder="Password" required>
        </div>

        <div class="form-group mb-3">
          <input type="password" name="Cpassword" id="Cpassword" class="form-control" placeholder="Confirm password" required>
        </div>

        <button class="btn btn-success" type="submit">Submit</button>

        <div>
                       {% include "includes/messages.html" %}

        </div>
      </div>
    </div>
  </div>
</form>


{% endblock content %}
