 /* Styles for the side bar */
 .sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Styles for the side bar links */
.sidebar a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Styles for the side bar links on hover */
.sidebar a:hover {
    background-color: #555;
    color: white;}