{% extends "includes/sidebar.html" %}

{% block contents %}
<style>
  a{
text-decoration: none;
  }
</style>
<div class="container">
  <div class="row gap-5">
    <div class="col-md-12">
      <form action="{% url 'department_notice_view' %}" method="GET">
        {% for department_notice in department_notices %}

          <div class="card mb-4">
            <div class="card-body">
              {% if department_notice.image %}
              <img src="{{ MEDIA_URL }}{{ department_notice.image.url }}" alt="Image" class="img-fluid">
              {% endif %}
              <h3 class="card-title">Task No. :{{ department_notice.id }}</h3>
            <h3 class="card-title">Title :{{ department_notice.title }}</h3>
            <h5 class="card-title">Subject :{{ department_notice.subject }}</h5>
            <p class="card-text">Content :{{ department_notice.content }}</p>
          
            
            <div class="mt-3">
              {% if request.user.is_authenticated and request.user.is_manager %}     
              <a href="{% url 'department_notice_edit' department_notice.id %}" class="btn ">Edit</a>
              <a href="{% url 'department_notice_delete' department_notice.id %}" class="btn ">Delete</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="text-center">
            {% if request.user.is_authenticated and request.user.is_manager %}     
          <a href="{% url 'department_notice_create' %}" class="btn ">Add</a>
            {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock contents %}
