{% extends "includes/sidebar.html" %}

{% block contents %}
<div class="card mb-3">
    {% if notice.image %}
    <img src="{{ MEDIA_URL }}{{ notice.image.url }}" class="card-img-top" alt="...">
    {% endif %}

    <div class="card-body">
        <h5 class="card-title">{{ notice.title }}</h5>
        <p class="card-text">{{ notice.subject }}</p>
        <p class="card-text"><small class="text-body-secondary">{{ notice.content }}</small></p>

        <div>
            <form action="{% url 'dashboard_single' notice.id %}" method="POST">
                {% csrf_token %}
                <input type="text" name="comment">
                <input type="submit" value="Submit" class="btn-submit" required>
            </form>
            
            {% for comment in comments %}
            <div class="d-flex justify-content-between">
                <p>@{{ comment.user.first_name }}</p>
                <p>{{ comment.comment }}</p>
                <p>{{ comment.created_at|timesince }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock contents %}
