<!-- my_template.html -->
{% extends "includes/sidebar.html" %}
{% block contents %}

<form action="{% url 'dashboard' %}" method="GET">
        
        {% for notice in notice_board_list %}
       
                        <h3 class="card-title">{{notice.title}}</h3>
                        <h5 class="card-title">{{notice.subject}}</h5>
                        <p class="card-text">{{notice.content}}</p>
                        {% if notice.image %}
                        <img src="{{ MEDIA_URL }}{{ notice.image.url }}" alt="Image">
                        
                        {% endif %}
                        <a href="{% url 'notice_hr_edit' notice.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'notice_hr_delete' notice.id %}" class="btn btn-danger">Delete</a>
                
        {% endfor %}
        
        <div>
                <a href="{% url 'notice_hr_create' %}" class="btn btn-info">Add Info</a>
        </div>
        

</form>
{% endblock contents %}
