{% extends "includes/sidebar.html" %}

{% block contents %}
<div class="d-flex flex-column container">
  <div class="row gap-5">
    {% for paycheque in cheques %}
    <div class="container">
      <h4>Pay Slip</h4>
      <p><strong>Name : </strong> {{ paycheque.user.first_name }} {{paycheque.user.last_name}}</p>
      <p><strong>Emp-Code : </strong> {{ paycheque.user.username }}</p>
      <p><strong>Paid on : </strong> {{ paycheque.created_at }}</p>
      <p><strong>Base Salary : </strong> {{ paycheque.base_salary }}</p>
      <p><strong>Overtime Pay : </strong> {{ paycheque.base_salary }}</p>
      <p><strong>Bonus : </strong> {{ paycheque.bonus }}</p>
      <p><strong>Allowances : </strong> {{ paycheque.allowances }}</p>
      <p><strong>Deductions : </strong> {{ paycheque.deductions }}</p>
      <p><strong>Total Salary : </strong> {{ paycheque.salary }}</p>
      <p><strong>Paid By : </strong> {{ paycheque.employer}}</p>
      <a href="{% url 'paycheque_edit' paycheque.id %}" class="btn btn-secondary">Edit</a>
      <a href="{% url 'paycheque_delete' paycheque.id %}" class="btn btn-dark">Delete</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock contents %}
